# Common elements
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Uploaded Avatars
avatars/groups_uploaded/*.jpg
avatars/groups_uploaded/*.png
avatars/groups_uploaded/*.gif
avatars/user_uploaded/*.jpg
avatars/user_uploaded/*.png
avatars/user_uploaded/*.gif

# Pligg configuration
libs/dbconnect.php
settings.php

# Logs
logs/
*.log
error_log

# Wordpress files
cgi-bin/
wp-*
